body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    background-color: #bbb;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    font-family: Arial, sans-serif;
    overflow: hidden;
}

.name{
    padding-bottom: 40px;
    font-size: 30px;
    text-transform: capitalize;
    background: linear-gradient(to right, #9f9f9f 0, #fff 10%, #868686 20%);
    background-position: 0;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: shine 3s linear infinite;
    animation-fill-mode: forwards;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
    text-decoration: none;
    white-space: nowrap;
}

@keyframes shine {
    0% {
        background-position: 0;
    }

    50% {
        background-position: 160px;
    }

    100% {
        background-position: 0;
    }
}

.calculator {
    width: 300px;
    background: #212121;
    border-radius: 8px;
    box-shadow: 15px 15px 30px rgb(25, 25, 25), -15px -15px 30px rgb(60, 60, 60);
    padding: 20px;
    text-align: center;
    position: relative;
    z-index: 1111;
    overflow: hidden;
}

.calculator input {
    width: calc(100% - 20px);
    margin-bottom: 10px;
    padding: 10px;
    font-size: 18px;
    color: #a1a1a1;
    border-radius: 4px;
    border: 1px solid rgb(161, 161, 161);
    box-shadow: -5px -5px 15px #444, 5px 5px 15px #222, inset 5px 5px 10px #444,
            inset -5px -5px 10px #222;
    background: transparent;
}

.calculator .keys {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
}

.calculator button {
    padding: 10px;
    font-size: 18px;
    border-radius: 4px;
    cursor: pointer;
    color: rgb(161, 161, 161);
    background-color: #333;
    box-shadow: -5px -5px 15px #444, 5px 5px 15px #222, inset 5px 5px 10px #444,
        inset -5px -5px 10px #222;
    transition: 0.5s;
}

.calculator button:hover {
    box-shadow: -5px -5px 15px #444, 5px 5px 15px #222, inset 5px 5px 10px #222,
        inset -5px -5px 10px #444;
    color: #d6d6d6;
    transition: 0.5s;
}

.calculator .gold{
    touch-action: manipulation;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(110, 80, 20, 0.4),
        inset 0 -2px 5px 1px rgba(139, 66, 8, 1),
        inset 0 -1px 1px 3px rgba(250, 227, 133, 1);
    background-image: linear-gradient(160deg, #a54e07, #b47e11, #fef1a2, #bc881b, #a54e07);
    border: 1px solid #a55d07;
    color: rgb(120, 50, 5);
    text-shadow: 0 2px 2px rgba(250, 227, 133, 1);
    transition: all 0.2s ease-in-out;
    background-size: 100% 100%;
    background-position: center;
}

.calculator .gold:focus,
.calculator .gold:hover{
    background-size: 150% 150%;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23),
        inset 0 -2px 5px 1px #b17d10, inset 0 -1px 1px 3px rgba(250, 227, 133, 1);
    border: 1px solid rgba(165, 93, 7, 0.6);
    color: rgba(120, 50, 5, 0.8);
}

.calculator .gold:active{
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(110, 80, 20, 0.4),
        inset 0 -2px 5px 1px #b17d10, inset 0 -1px 1px 3px rgba(250, 227, 133, 1);
}
